/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define LAY1 1
#define LAY2 2

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
// ------------------------------------------------------------------------------------------------------------
// |  `    |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC  |
// |  ESC  |A(C) |S(A) | D(G) | F(S) |  G   |                   |  H   | J(S)  |  K(G) | L(A) | ;(C)  |RETURN |
// |  LAY1 |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  | MUTE  |  N   |  M    |  ,    |  .   |   /   | \ |
//               |     |      |      | LAY2 |  SPACE |  | LAY1  | LAY2 |       |       |      |
            bindings = <
&kp GRAVE &kp N1      &kp N2     &kp N3     &kp N4       &kp N5                           &kp N6     &kp N7       &kp N8     &kp N9     &kp N0         &none
&kp TAB   &kp Q       &kp W      &kp E      &kp R        &kp T                            &kp Y      &kp U        &kp I      &kp O      &kp P          &kp BSPC
&kp ESC   &mt LCTRL A &mt LALT S &mt LGUI D &mt LSHIFT F &kp G                            &kp H      &mt RSHIFT J &mt RGUI K &mt RALT L &mt RCTRL SEMI &kp RETURN
&mo LAY1  &kp Z       &kp X      &kp C      &kp V        &kp B    &kp C_MUTE &kp C_MUTE   &kp N      &kp M      &kp COMMA      &kp DOT &kp FSLH &kp BSLH
                      &none      &none      &none        &mo LAY2 &kp SPACE  &mo LAY1     &mo LAY2   &none      &none          &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        first_layer {
// TODO: Some binds are waiting for shifted keycode support.
// ------------------------------------------------------------------------------------------------------------
// |       |  F1   |   F2  |   F3  |  F4   |  F5   |                 |  F6   |  F7   |  F8   |  F9   |  F10  |  F11  |
// |       |       |       |       |       |       |                 |       |       |       |       |       |  F12  |
// |       |       |       |       |       |       |                 | LEFT  | DOWN  |  UP   | RIGHT |       |       |
// |       |       |       |       |       |       |      |  |       |       |       |       |       |       |       |
//                 |       |       |       |       |      |  |       |       |       |       |       |
            bindings = <
&trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5               &kp F6   &kp F7   &kp F8 &kp F9    &kp F10 &kp F11
&trans &trans &trans &trans &trans &trans               &trans   &trans   &trans &trans    &trans  &kp F12
&trans &trans &trans &trans &trans &trans               &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans  &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans   &trans   &trans &trans    &trans  &trans
              &trans &trans &trans &trans &trans &trans &trans &trans &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        second_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |       |       |       |       |       |                 |       |       |       |       | MINUS | EQUAL |
// |       |       |       |       |       |       |                 |       |   7   |   8   |   9   | LBKT  | RBKT  |
// |       |       |       |       |       |       |                 |   `   |   4   |   5   |   6   |       |  SQT  |
// |       |       |       |       |       |       |      |  |       |   0   |   1   |   2   |   3   |       |       |
//                 |       |       |       |       |      |  |       |       |       |       |       |
            bindings = <
&trans &trans &trans &trans &trans &trans               &trans    &trans &trans &trans &kp MINUS &kp EQUAL
&trans &trans &trans &trans &trans &trans               &trans    &kp N7 &kp N8 &kp N9 &kp LBKT  &kp RBKT
&trans &trans &trans &trans &trans &trans               &kp GRAVE &kp N4 &kp N5 &kp N6 &trans    &kp SQT
&trans &trans &trans &trans &trans &trans               &kp N0    &kp N1 &kp N2 &kp N3 &trans    &trans
              &trans &trans &trans &trans &trans &trans &trans &trans &trans  &trans
              &trans &trans &trans &trans &trans &trans &trans &trans &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
